<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <script src="/public/javascripts/jquery.min.js"></script>
    <title>PG ipa server</title>
</head>
<body>
    <h1> PhotoGrid Ad-Hoc </h1>
    {{#items}}
    <div class="collapsible">{{appName}}</div>
    <div class="content">
        <ul>
            {{#ipas}}
            <li>
                <img src="{{iconString}}" class="icon" />
                <div class="info">
                    <span class="name">{{name}}</span>
                    <div class="desc">{{version}}</div>
                    <div class="desc">{{timeString}}</div>
                </div>
                <a href="javascript:;" data-name={{name}} downloadUrl="itms-services://?action=download-manifest&url=https://{{ip}}:{{port}}/plist/{{encodedData}}" class="link">下載</a>
            </li>
            <hr/>
            {{/ipas}}
        </ul>
    </div>
    {{/items}}
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight){
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }

    	$('.link').click(function(){
            if(confirm("確定下載 " + $(this).attr('data-name') + " ?")){
                window.location.href = $(this).attr('downloadUrl');
            }
        });
    </script>

    <hr>

    <h2 style="font-weight: normal;">
        <a style="font-size:20px;font-weight: bold" id='cer' href="https://{{ip}}:{{port}}/cer/myCA.cer">Click to download certification<br></a>
    </h2>
    <p style="font-size:16px;">Install certification: Settings->General->Profile</p>
    <p style="font-size:16px;">Enable trust: Settings->General->About->Certificate Trust Settings</p>

    <hr>

    <h2 class="warning" style="font-size:20px;font-weight: bold"">iOS 15+ devices not supporting now！<br></h2>
    <h3 class="warningOrnage" style="font-size:18px;">Install ipa for iOS15+ devices:</h3>
    <p style="font-size:16px;">1. From your mac</p>
    <p style="font-size:16px;">2. Donwload ipa</p>
    <p style="font-size:16px;">3. Open finder and select the iOS device on the left</p>
    <p style="font-size:16px;">4. Drag the ipa file into finder and the app will be installed</p>

    <img src="/public/assets/ipa_install.png" alt="ipa install above iOS15" width="350">
</body>
</html>
